%COPYRIGHT_LINE%

%MY_HEADER_INCLUDE_DIRECTIVE%

// Set Class Defaults
%PREFIXED_CLASS_NAME%::%PREFIXED_CLASS_NAME%(const FObjectInitializer& ObjectInitializer)
	: Super(ObjectInitializer)
{
	// For performance reasons, don't tick components unless you really need to
	PrimaryComponentTick.bCanEverTick = false;
	PrimaryComponentTick.bStartWithTickEnabled = false;
}

%ADDITIONAL_MEMBER_DEFINITIONS%