%COPYRIGHT_LINE%

%PCH_INCLUDE_DIRECTIVE%
%MY_HEADER_INCLUDE_DIRECTIVE%
%ADDITIONAL_INCLUDE_DIRECTIVES%


%UNPREFIXED_CLASS_NAME%::%UNPREFIXED_CLASS_NAME%()
{
}


%UNPREFIXED_CLASS_NAME%::~%UNPREFIXED_CLASS_NAME%()
{
}
